<!DOCTYPE html>
<html lang="de">

<head>
  <meta name="description"
    content="webCommits web Designs - Web-Entwicklung, Design und IT | Ihr Ansprechpartner für hochwertige, zuverlässige und günstige Websites!">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="theme-color" content="#9076a5" />
  {% set canonical = "https://www.webcommits.info" + page.url %}
  <link rel="canonical" href="{{ canonical }}" />

  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/static/images/site.webmanifest">
  <script src="/static/script.js" defer></script>
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "webCommits web Designs",
  "image": "https://www.webcommits.info/static/images/logo.png",
  "@id": "",
  "url": "https://www.webcommits.info/",
  "telephone": "+4915207282881",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Hofgracht 7",
    "addressLocality": "Baesweiler",
    "postalCode": "52499",
    "addressCountry": "DE"
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
  } 
}
</script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WLX9WP2X46"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WLX9WP2X46');
  </script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  </style>
</head>

<body>
  {% include "header.njk" %}

  <main>
    {% block content %} {% endblock %}
  </main>

  {% include "imprsec.njk" %}
  {% include "footer.njk" %}
</body>

</html>
