<div class="footer">
  <ul>
    <li>Copyright © webCommits web Designs 2025</li>
  </ul>
</div>
<div class="button-row">
  <a href="#top" class="totop"><img src="{{ global.baseurl }}/static/images/top-arrow.png" alt="Top Button"></a>
  <a href="tel:+4915207282881" class="telbutton"><img src="{{ global.baseurl }}/static/images/call-ico.png" alt="Call Icon"></a>
  <a href="mailto:webcommitswebdesigns@gmail.com" class="mailbutton"><img src="{{ global.baseurl }}/static/images/mail-ico.png"
      alt="Mail Icon"></a>
</div>
