<div class="footer">
  <ul>
    <li data-i18n="footer.copy">Copyright © webCommits web Designs 2025</li>
    <li><a href="/impressum/">Impressum</a></li>
    <li><a href="/datenschutz/">Datenschutz</a></li>
  </ul>
</div>
<div class="button-row">
  <a href="#top" class="totop"><img src="/static/images/top-arrow.webp" alt="Top Button"></a>
  <a href="tel:+4915207282881" class="telbutton"><img src="/static/images/call-ico.webp" alt="Call Icon"></a>
  <a href="mailto:webcommitswebdesigns@gmail.com" class="mailbutton"><img src="/static/images/mail-ico.webp"
      alt="Mail Icon"></a>
</div>
