<div class="impressum" id="impressum">
  <div class="imprcontainer">
    <a href="/"><img class="logo" src="/static/images/Lockup-White.png" alt="Logo for the company" /></a>
    <div class="address">
      <h3><a href="/impressum/" data-i18n="footer.imprint">Impressum</a></h3>
      <p><a href="/datenschutz/" data-i18n="footer.privacy">Datenschutz</a></p>
      <p><a href="/" data-i18n="footer.home">Homepage</a></p>
      <p><a href="https://github.com/webCommits/">GitHub</a></p>
      <p><a href="https://github.com/webCommits/webcommits-website" data-i18n="footer.repo">Repo dieser Website</a></p>
    </div>
  </div>
</div>
