  <div class="impressum animate hidden"  id="impressum">
    <div class="imprcontainer">
    <a href="/"><img class="logo" src="/static/images/logoname2.png" alt="Logo for the company" /></a>
      <div class="address">
        <h3><a href="/impressum/">Impressum</a></h3>
        <p><a href="/">Homepage</a></p>
        <p><a href="https://github.com/webCommits/">GitHub</a></p>
        <p><a href="https://github.com/webCommits/webcommits-website">This Site's Repo</a></p>
      </div>
    </div>
  </div>