---
title: webCommits web Designs
---
{% extends "base.njk" %}
{% block content %}

    <div class="secone" id="about">
        <img src="/static/images/logoname.png" alt="" srcset="">
        <h1>Ihr Ansprechpartner</h1>
        <h3>für hochwertige Websites</h3>
        <a href="#aboutus" id="scroll-arrow">
            <img src="/static/images/arrow-down.png" alt="Down Arrow">
        </a>
    </div>

    <div class="sectwo" id="aboutus">
        <div class="left">
            <h2>webCommits web Designs</h2>
            <h3>Wer sind wir?</h3>
            <p>Aus einem studentischen Nebenjob wurde eine Passion. Aus einer Idee wurde eine Vision. Nach dem erfolgreich abgeschlossenen Technik-Lehramtsstudium an der RWTH Aachen University - eine der deutschen Eliteuniversitäten und anerkanntesten technischen Hochschulen Europas - und jahrelanger Aushilfstätigkeit als Web-Entwickler an derselben Universität, entschied ich mich dazu, meine Erfahrungen zu nutzen, um eine Erreichbare, kostengünstigere Alternative zu großen Web Entwickler-Agenturen zu bieten. </p>
        </div>
        <div class="right">
            <img src="/static/images/portrait.jpg" alt="Lukas Schaffrath Portrait">
        </div>
    </div>
    <div class="sectwo" id="philosophy">

        <div class="right">
            <img src="/static/images/code.png" alt="Code Screenshot">
        </div>
        <div class="left">
            <h3>Unsere Philosophie</h3>
            <p>Bei uns steht die Qualität unserer Arbeit an erster Stelle. Wir glauben an die Kraft maßgeschneiderter, code-basierter Websites, die nicht nur stabil und leistungsstark sind, sondern auch genau auf die Bedürfnisse unserer Kunden zugeschnitten werden. Dabei stehen die kleinen Gewerbe, die unsere Wirtschaft am Leben erhalten, an erster Stelle. Unser Motto: jeder sollte die Möglichkeit bekommen, sein Gewerbe zu skalieren, ohne dabei Pleite zu gehen!</p>
        </div>
    </div>

    <div class="sectwo" id="principles">
        <div class="left">
            <h3>Prinzipien</h3>
            <p>Unsere Philosophie basiert auf folgenden Prinzipien:</p>
            <ul>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <div class="text">
                        <strong>Handgeschriebener Code:</strong>
                        kein unnötiger Blockcode für schnelle Ladezeiten und Performance
                    </div>

                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <div class="text">
                        <strong>Transparenz und Fairness:</strong>
                     Unsere Preismodelle sind fair und klar nachvollziehbar, ohne versteckte Kosten
                    </div>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <div class="text">
                        <strong>Optimierung:</strong>
                     optimierte Texte und Bilder für Benutzerfreundlichkeit und Suchmaschinenfreundlichkeit
                    </div>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <div class="text">
                        <strong>Zuverlässigkeit:</strong>
                     Wir sind nicht nur Ihr Programmier-Team, sondern ihr Unternehmenspartner. Wir engagieren uns und arbeiten zusammen am gemeinsamen Erfolg
                    </div>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <div class="text">
                        <strong>Innovation:</strong>
                     wir nutzen die neuesten Technologien und Trends, um Ihnen zukunftssichere Lösungen anzubieten
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="prices-container">
        <div class="price-box">
            <span>Static Page</span>
            <ul>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Landingpage für Ihr Business</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Ihr Gewerbe auf einen Blick</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Optimiert für Schnelligkeit und Suchmaschinen
                    </p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Unbegrenzte Änderungen*</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Hosting Inklusive*</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>24/7 Kundenservice</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Domainregistrierung möglich*
                    </p>
                </li>
            </ul>
            <h2>90€/Monat</h2>
            <h3>oder ab 900€</h3>
            <a href="/contact/">
                <button class="seconebutton">Anfragen</button>
            </a>
        </div>
        <div class="price-box">
            <span>Static Site</span>
            <ul>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Bis zu 5 Pages für Ihr Gewerbe</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Detaillierte Darstellung Ihres Angebots
                    </p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Optimiert für Schnelligkeit und Suchmaschinen
                    </p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Unbegrenzte Änderungen*</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Hosting Inklusive*</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>24/7 Kundenservice</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Domainregistrierung möglich*
                    </p>
                </li>
            </ul>
            <h2>150€/Monat</h2>
            <h3>oder ab 1200€</h3>
            <a href="/contact/">
                <button class="seconebutton">Anfragen</button>
            </a>
        </div>
        <div class="price-box">
            <span>Weitere Services</span>
            <ul>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Hosting</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Domainregistrierung
                    </p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Google Maps Integration
                    </p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Google Creator Profil</p>
                </li>
                <li>
                    <img src="/static/images/check.png" alt="Checkmark">
                    <p>Business E-Mail</p>
                </li>
            </ul>
            <h3>Auf Anfrage</h3>
            <a href="/contact/">
                <button class="seconebutton">Anfragen</button>
            </a>
        </div>
    </div>
    <div class="spacer"></div>
{% endblock %}