---
title: webCommits web Designs
---
{% extends "base.njk" %}
{% block content %}
<div class="spacer"></div>
  <div class="sectwo animate hidden" id="aboutus">
    <div class="left">
      <h2>Hilfe für Alle</h2>
      <h3>ohne Page-Builder!</h3>
      <p>Wir vertrauen auf die Schnelligkeit, Präzision und Sicherheit von handgeschriebenem Code. 
        Dabei hilft uns unsere jahrelange Erfahrung. Wir sind ein kleines Team, was Wert auf ordentlichen, 
        nützlichen und wiederverwendbaren Code legt. Wir arbeiten ohne unnötige Page-Builder, was Ihre Kunden schneller zu dem von Ihnen gewünschten Inhalt bringt.
         Mehr zu unserer Firmenphilosophie finden Sie hier:</p>
      <a href="/aboutus/">
        <button class="sectwobutton">Über Uns</button>
      </a>
    </div>
    <div class="right">
      <img src="/static/images/markusspiske-code.jpg" alt="Code Picture by Markus Spiske">
    </div>
  </div>
  <div class="spacer"></div>
{% endblock %}