---
title: webCommits web Designs
---
{% extends "base.njk" %}
{% block content %}
<div class="secthree animate hidden" id="anfahrt">
  <div class="preisliste">
    <h1>Anfahrt</h1>
  </div>
  <p>Ich arbeite von meinem Standort in Baesweiler aus – direkt an der Grenze zu Aachen. Als freiberuflicher
    Webentwickler bin ich deutschlandweit und international tätig. Sie erreichen mich über verschiedene Wege, unter
    anderem bequem über mein Kontaktformular.</p>
  <p>Klicken Sie auf die Karte für genauere Informationen.</p>
  <div class="secthreecontent">
    <!-- <img src="./static/images/preisliste.png" alt="Preisliste as pdf">
      <a href="./static/images/preisliste-transformed.png" target="_blank"><button class="secthreebutton">Hier klicken
          zum Download</button></a> -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2515.747465900344!2d6.175054276621881!3d50.90988867168349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0a16ac28d0a0d%3A0xdd6a054fc46e8f2e!2sHofgracht%207%2C%2052499%20Baesweiler!5e0!3m2!1sde!2sde!4v1744210463153!5m2!1sde!2sde"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<div class="spacer"></div>
{% endblock %}
