---
title: webCommits web Designs | Kontakt
meta: "Treten Sie direkt mit mir in Kontakt! Nutzen Sie unser sicheres Kontaktformular für Anfragen zu Webentwicklung,
Hosting oder Support. Ich melde mich schnellstmöglich bei Ihnen zurück."
---
{% extends "base.njk" %}
{% block content %}
<div class="spacer"></div>
<div class="secone">
    <div class="contactformular">

        <h1>Kontaktformular</h1>
        <p>Der einfachste Weg, mit mir in Kontakt zu treten:</p>
        <p>Formulieren Sie hier Ihre Anfrage und senden Sie sie direkt über dieses Kontaktformular ab. Ihre Nachricht
            wird sicher und zuverlässig per E-Mail an mich gesendet.
            Ich melde mich so schnell wie möglich bei Ihnen zurück.</p>


        <form action="https://formsubmit.co/webcommitswebdesigns@gmail.com" method="POST" autocomplete="on">
            <!-- Formularfelder -->
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" required>

            <label for="number">Telefonnummer*</label>
            <input type="text" id="number" name="Telefonnummer" required>

            <label for="mail">E-Mail*</label>
            <input type="email" id="mail" name="email" required>

            <label for="subject">Betreff*</label>
            <input type="text" id="subject" name="subject" required>

            <label for="message">Nachricht*</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <!-- Honeypot-Feld (unsichtbar für Nutzer, aber von Bots oft ausgefüllt) -->
            <div style="display: none;">
                <label for="website">Bitte dieses Feld nicht ausfüllen</label>
                <input type="text" name="website">
            </div>

            <!-- FormSubmit Optionen -->
            <input type="hidden" name="_subject" value="Neue Nachricht über das Kontaktformular">
            <input type="hidden" name="_replyto" value="email"> <!-- Absenderadresse für "Antworten"-Button -->
            <input type="hidden" name="_template" value="table"> <!-- Schöne HTML-Tabelle -->
            <input type="hidden" name="_captcha" value="true"> <!-- Standardmäßig aktiviert -->
            <input type="hidden" name="_autoresponse"
                value="Vielen Dank für Ihre Nachricht! Ich melde mich schnellstmöglich zurück.">
            <input type="hidden" name="_next" value="https://www.webcommits.info/danke/"> <!-- Erfolgsseite -->

            <!-- Absenden -->
            <button type="submit">Absenden</button>

            <p>* Pflichtfelder</p>
        </form>
    </div>
</div>
<div class="spacer"></div>
{% endblock %}
