---
title: Kontakt
---
{% extends "base.njk" %}
{% block content %}
<div class="spacer"></div>
<div class="secone">
    <div class="contactformular">
        <h1>Kontaktformular</h1>
        <p>Der einfachste Weg, mit mir in Kontakt zu treten:</p>
        <p>Hier können Sie Ihre Anfrage formulieren und direkt über
            Ihren E-Mail-Client versenden. Dies sorgt für einheitliche Anfragen und ermöglicht eine zügige Bearbeitung.
            Ich freue mich auf Ihre Nachricht.</p>
        <form id="contactForm" onsubmit="sendMail(event)">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" required>

            <label for="number">Telefonnummer*</label>
            <input type="text" id="number" name="number">

            <label for="mail">E-Mail*</label>
            <input type="email" id="mail" name="email" required>

            <label for="subject">Betreff</label>
            <input type="text" id="subject" name="subject" required>

            <label for="message">Nachricht</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Absenden</button>
        </form>
        <p>* Pflichtfelder</p>
    </div>
</div>
<div class="spacer"></div>
{% endblock %}
