---
title: webCommits web Designs | Vielen Dank für Ihre Nachricht
---
{% extends "base.njk" %}
{% block content %}
<div class="secone" id="thankyou">
  <h1>Vielen Dank für Ihre Nachricht!</h1>
  <p>Ihre Anfrage ist erfolgreich bei uns eingegangen. Wir melden uns schnellstmöglich bei Ihnen zurück.</p>

  <a href="/contact/">
    <button class="seconebutton">Zurück zum Kontaktformular</button>
  </a>
  <a href="/">
    <button class="seconebutton">Zur Startseite</button>
  </a>
</div>
{% endblock %}
