---
title: webCommits web Designs | Vielen Dank für Ihre Nachricht
robots: "noindex, follow"
meta: "Vielen Dank für Ihre Anfrage bei webCommits. Ich melde mich schnellstmöglich bei Ihnen zurück."
---
{% extends "base.njk" %}
{% block content %}
<div class="secone" id="thankyou">
  <h1 data-i18n="thanks.h1">Vielen Dank für Ihre Nachricht!</h1>
  <p data-i18n="thanks.p">Ihre Anfrage ist erfolgreich bei mir eingegangen. Ich melde mich schnellstmöglich bei Ihnen zurück.</p>

  <a class="btn btn--primary" href="/contact/" data-i18n="thanks.contact">Zurück zum Kontaktformular</a>
  <a class="btn btn--secondary" href="/" data-i18n="thanks.home">Zur Startseite</a>
</div>
{% endblock %}
