---
title: webCommits web Designs
---
{% extends "base.njk" %}
{% block content %}

<div class="impressum-page">
<h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG</h2>
        <p><strong>Firmenname:</strong> webCommits</p>
        <p><strong>Vertreten durch:</strong> Lukas Schaffrath</p>
        <p><strong>Adresse:</strong><br>
        Neue Furth 31<br>
        52146 Würselen<br>
        Deutschland</p>
        <p><strong>Telefon:</strong> 01520 7282881</p>
        <p><strong>E-Mail:</strong> webcommits@gmail.com</p>

        <h2>Handelsregister</h2>
        <p><strong>Registergericht:</strong> [Name des Registergerichts]</p>
        <p><strong>Registernummer:</strong> [Handelsregisternummer]</p>

        <h2>Umsatzsteuer-ID</h2>
        <p><strong>USt-IdNr:</strong> [Umsatzsteuer-Identifikationsnummer]</p>

        <h2>Wirtschafts-Identifikationsnummer</h2>
        <p><strong>Wirtschafts-ID:</strong> [Wirtschafts-Identifikationsnummer]</p>

        <h2>Berufshaftpflichtversicherung</h2>
        <p><strong>Name und Sitz des Versicherers:</strong> [Name des Versicherers, Adresse des Versicherers]</p>
        <p><strong>Geltungsraum der Versicherung:</strong> [Geltungsbereich der Versicherung]</p>

        <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
        <p>Lukas Schaffrath, Neue Furth 31, 52146 Würselen</p>

        <h2>Haftungsausschluss</h2>
        <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>

        <h2>Haftung für Links</h2>
        <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.</p>

        <h2>Urheberrecht</h2>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>

        <h2>Streitschlichtung</h2>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

        <p>Stand: 04.09.2024</p>
</div>
<div class="spacer"></div>
{% endblock %}