---
title: webCommits web Designs | Web-Entwicklung, Design und IT
meta: "webCommits web Designs - Web-Entwicklung, Design und IT | Ihr Ansprechpartner für hochwertige, zuverlässige und
günstige Websites! Maßgeschneiderte Websites für Handwerker, Kleingewerbe und Selbstständige, aus Aachen und Umgebung.
Schnell, zuverlässig und günstig – inklusive Hosting und Support"

---
{% extends "base.njk" %}
{% block content %}
<div class="secone" id="about">
  <img src="/static/images/name.png" alt="" srcset="">
  <h1>Handcoded Websites</h1>
  <h3>ohne hohe Kosten</h3>
  <a href="/contact/">
    <button class="seconebutton">Kontaktieren</button>
  </a>
  <a href="#sectwo" id="scroll-arrow">
    <img loading="lazy" src="/static/images/arrow-down.png" alt="Down Arrow">
  </a>
</div>

<div class="sectwo animate hidden" id="sectwo">
  <div class="left">
    <h2>Hilfe für Alle</h2>
    <h3>ohne Page-Builder!</h3>
    <p>Ich setze auf Schnelligkeit, Präzision und Sicherheit durch handgeschriebenen Code.
      Dabei profitiere ich von meiner langjährigen Erfahrung als Webentwickler.
      Statt auf aufgeblähte Page-Builder zu setzen, entwickle ich schlanken, wartungsfreundlichen und wiederverwendbaren
      Code – individuell auf Ihre Anforderungen zugeschnitten.
      Das sorgt für schnellere Ladezeiten und eine zielgerichtete Nutzerführung.

      Mehr über meine Arbeitsweise und Philosophie erfahren Sie hier:</p>
    <a href="/aboutus/">
      <button class="sectwobutton">Über uns</button>
    </a>
  </div>
  <div class="right">
    <img loading="lazy" src="/static/images/markusspiske-code.jpg" alt="Code Picture by Markus Spiske">
  </div>
</div>
<div class="portfolio animate hidden">
  <h1>Portfolio</h1>
  <p>Die folgenden Websites repräsentieren eine Auswahl meiner vorherigen Projekte. Überzeugen Sie sich über einen
    Klick auf die Vorschau!</p>
  <div class="website-container">
    <div class="left">
      <h3>Anglistik Web</h3>
      <p>Die offizielle Sprechstunden- und Buchungssystem des Instituts für Anglistik, Amerikanistik und Romanistik der
        RWTH Aachen University, inklusive Login-System, Profilen und automatischem Account-Service.</p>
    </div>
    <div class="images">
      <a href="https://web.anglistik.rwth-aachen.de/">
        <img loading="lazy" src="/static/images/anglistikweb.png" alt="Anglistik Web Screenshot">
      </a>
    </div>
  </div>
  <div class="website-container">
    <div class="images">
      <a href="http://ben-bachmair.de/">
        <img loading="lazy" src="/static/images/benbachmair.png" alt="Ben Bachmair Screenshot">
      </a>
    </div>
    <div class="right">
      <h3>Ben-Bachmair</h3>
      <p>Eine Übersichtswebsite für einen Weltweit bekannten Professor, Author und Mentor.</p>
    </div>
  </div>
  <div class="website-container">
    <div class="left">
      <h3>Kernbohrungen K. Günther</h3>
      <p>Unser Meisterbetrieb im Mauerwerks- und Betonbau des Vertrauens. Für alle handwerklichen Angelegenheiten.</p>
    </div>
    <div class="images">
      <a href="https://kernbohrungen-guenther.de/">
        <img loading="lazy" src="/static/images/kernbohrungen-guenther.png" alt="Kernbohrungen-Guenther Screenshot">
      </a>
    </div>
  </div>
  <a href="/portfolio/">
    <button class="portfoliobutton">Mehr lesen</button>
  </a>
</div>
<div class="secthree animate hidden" id="anfahrt">
  <div class="preisliste">
    <h1>Anfahrt</h1>
  </div>
  <p>Sie finden mich an der Grenze von Aachen. Klicken Sie auf die Karte für genauere Infos.</p>
  <div class="secthreecontent">
    <!-- <img src="./static/images/preisliste.png" alt="Preisliste as pdf">
      <a href="./static/images/preisliste-transformed.png" target="_blank"><button class="secthreebutton">Hier klicken
          zum Download</button></a> -->
    <iframe <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2515.747465900344!2d6.175054276621881!3d50.90988867168349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0a16ac28d0a0d%3A0xdd6a054fc46e8f2e!2sHofgracht%207%2C%2052499%20Baesweiler!5e0!3m2!1sde!2sde!4v1744210426783!5m2!1sde!2sde"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<div class="contact-sec" id="contact-sec">
  <h1>Kontakt</h1>
  <p>Überzeugt? Dann melden Sie sich über die untenstehenden Möglichkeiten oder über das
    Kontaktformular.</p>
  <div class="contact-container">
    <a href="mailto:webcommitswebdesigns@gmail.com"><img src="/static/images/mail-ico.png" alt="Mail Icon"></a>
    <a href="tel:+4915207282881"><img src="/static/images/call-ico.png" alt="Call Icon"></a>
    <a href="/contact/"><img src="/static/images/form-ico.png" alt="Form Icon" class="form-img"></a>
  </div>
  <a href="/contact/">
    <button class="seconebutton">Zum Formular</button>
  </a>
</div>

{% endblock %}
